Source: deploy
Section: 
Priority: extra
Maintainer: Frederic Junod <frederic.junod@camptocamp.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8

Package: deploy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the c2c project deploy scripts
 deploy tries to deploys your projet.

