#!/usr/bin/make -f
# -*- makefile -*-
# deploy debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PREFIX := debian/deploy

build: build-stamp

build-stamp:
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -fr build dist deploy.egg-info
	rm -f build-stamp

	dh_clean *.pyc deploy/*.pyc

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

# Add here commands to install the package into debian/deploy.
	python setup.py install --no-compile --install-layout=deb --root=$(PREFIX)

# remove the script extension
	mv $(PREFIX)/usr/bin/deploy.py $(PREFIX)/usr/bin/deploy

	dh_movefiles --sourcedir=$(PREFIX) -pdeploy-chtopo-wms
	rmdir $(PREFIX)/etc/deploy/hooks-wms

	dh_movefiles --sourcedir=$(PREFIX) -pdeploy-chtopo-cw3
	rmdir $(PREFIX)/etc/deploy/hooks-cw3

	dh_movefiles --sourcedir=$(PREFIX) -pdeploy-chtopo-database
	rmdir $(PREFIX)/etc/deploy/hooks-database

# create the 'packages_dir' directory
	mkdir -p $(PREFIX)/var/cache/deploy/

# Build architecture-dependent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_link
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep 
binary-arch:
.PHONY: build clean binary-indep binary install
